---
- name: Create nginx dirs on host
  file:
    state: directory
    path: '{{ nginx_conf_dir }}/conf.d'
    recurse: true

# Note: Do not purge the entire directory and replace it with a new one.
# Docker will not notice the changes
- name: Purge the current directory
  shell: 'rm -rf {{ nginx_conf_dir }}/*'

- name: Create nginx dirs on host
  file:
    state: directory
    path: '{{ nginx_conf_dir }}/conf.d'
    recurse: true

- name: Template nginx.conf
  template:
    src: ../templates/nginx.conf
    dest: '{{ nginx_conf_dir }}'

- name: Create SSL domain regex
  set_fact:
    openresty_ssl_domain_regex: '{{ openresty_ssl_domains|join("|") }}'

- name: Template the includes
  template:
    src: ../templates/{{ item }}
    dest: '{{ nginx_conf_dir }}/conf.d'
  loop: '{{ openresty_includes | default([])}}'

- name: Template the vhosts
  copy:
    content: '{{ item.value }}'
    dest: '{{ nginx_conf_dir }}/conf.d/vhost_{{ item.key }}.conf'
  loop: '{{ openresty_vhosts | default({}) | dict2items }}'

- name: Check config
  docker_container:
    image: '{{ nginx_image }}'
    name: nginx-check-config
    command:
      - /usr/local/openresty/bin/openresty
      - -t
      - -c
      - '{{ nginx_conf_dir }}/nginx.conf'
    detach: false
    cleanup: true
    # yamllint disable-line rule:line-length
    volumes: '{{ [nginx_conf_dir + ":" + nginx_conf_dir ] + nginx_docker_volumes }}'

- name: Start nginx
  notify: health_check_nginx
  docker_container:
    image: '{{ nginx_image }}'
    restart: true
    name: '{{ nginx_container_name }}'
    restart_policy: unless-stopped
    networks: '{{ docker_networks | default(omit) }}'
    command:
      - /usr/local/openresty/bin/openresty
      - -g 'daemon off;'
      - -c '{{ nginx_conf_dir }}/nginx.conf'
    # yamllint disable-line rule:line-length
    volumes: '{{ [nginx_conf_dir + ":" + nginx_conf_dir ] + nginx_docker_volumes }}'
    ports: '{{ nginx_docker_ports + nginx_docker_additional_ports }}'
